<li>
    <p>
        <%  if (locals.user && (locals.user.id== comment.user.id)){ %>
            <small>
<a href="/comment/destroy/<%= comment._id %>" >X</a>
        
        </small>
        <%}%>
        <%= comment.content %>
    <br/>
    <small><%= comment.user.name %></small>
    </p>
</li>

