<link rel="stylesheet" href="./css/home.css">

<h1>My Home</h1>

<script type="text/javascript" src="./js/home.js"> </script>

<div id="home-container">


    <% if(locals.user) {%>

    <section id="feed-posts">
    <h4>Posts</h4>
    <form id="new-post-form" method="post" action="/post/create"
    >
    <textarea name="content" id="" cols="30" rows="3" placeholder="type here..." required></textarea>
    <input type="submit" value="Post">
    </form>



    <div id="posts-list-container" >
    <ul>

    <% for (post of posts  ) {%>
      <%- include('_post') -%>
    <% } %>

    </ul>
    </div>

    </section>


    <section id="user-friends">
    <h4>Friends</h4>
    <% for (u of allUsers) {%>
    
    <p>
        <a href="/user/profile/<%= u._id %>"><%= u.name %></a>
    </p>
    
        <% } %>
      
        <% } %>


    </section>

</div>
