<h1>Sign up</h1>



<form action="/user/create/" method="POST">

<input type="text" name="name" placeholder="Enter you Name" required>
<input type="email" name="email" placeholder="Enter you Email" required >
<input type="password" name="password" placeholder="Enter you Password" required>
<input type="password" name="confirm_password" placeholder="Confirm password" required>

<input type="submit" value="Sign up">

</form>


<p>
    <a href="/user/auth/google">Google Sign In/Sign Up</a>
</p>